template(name='tableRow')
    tr
        td(class="userName {{active}}")
            =name
        +each levels
            +each contests
                td.border
                +each problems
                    +userSubmit result=../../../result contest=.. problem=this
            td.border
            td(title="{{levelTitle}}", class="{{active}}")
                =solvedInLevel
                | &nbsp;/&nbsp;
                =totalInLevel
        td.border
        td(class="{{active}}")
            =solved
        td(class="{{active}}")
            =attempts

