template(name='tableRow')
    tr
        td(class="userName {{active}}")
            =name
        +each contests
            td.border
            +each problems
                +userSubmit result=../../result contest=.. problem=this
        td.border
        td
            =solved
        td
            =attempts

