template(name='tableRow')
    tr
        td(class="userName {{active}}")
            =name
        +each contests
            td.border
            +userInContest row=../row contest=this
        td.border
        td
            =solved
        td
            =attempts

