template(name='tableRow')
    tr
        td(class="userName {{active}}")
            a(href="/user/{{userId}}")
                +userName fullUser
        +each levels
            +each contests
                td.border
                +each problems
                    +userSubmit result=../../../result contest=.. problem=this
            td.border
            td(title="{{levelTitle}}", class="{{active}}")
                =solvedAndOkInLevel
                | &nbsp;/&nbsp;
                =totalInLevel
        td.border
        td(class="{{active}}")
            =solvedAndOk
        td(class="{{active}}")
            =attempts

