template(name='tableRow')
    tr
        td
            =name
        +each contests
            td
                | &nbsp;
            +userInContest row=../row contest=this
        td
            =solved
        td
            =attempts

