template(name='usersSolvedByWeek')
    h1
        | Сданные задачи по неделям
    table.solvedByWeek
        +solvedByWeekHeader userList=this name=true
        +each users
            +solvedByWeekLine userList=.. name=true user=this
