template(name='solvedByWeekHeader')
    tr
        if name
            td
                | &nbsp;
            td
                span(title="Уровень")
                    | У
            td
                span(title="Рейтинг")
                    | Р
            td
                span(title="Активность")
                    | A
        +each weekSet 
            +oneWeekHeader weekNumber=this userList=../userList

template(name='oneWeekHeader')
    td
        =weekHeader
                
                    
    