template(name='solvedByWeekHeader')
    tr
        +each weekSet 
            +oneWeekHeader weekNumber=this userList=..

template(name='oneWeekHeader')
    td
        =weekHeader
                
                    
    