template(name='table')
    h1
        | Сводная таблица по уровням
        =levelsText
    p
        | Цвета:
        span.ac.example Зачтено/Принято
        span.ig.example Проигнорировано
        span.ok.example OK
        span.wa.example Частичное решение и т.п.
    p
        | Наведите курсор на ячейку таблицы, чтобы узнать название задачи
    p
        | Двойной щелчок по ячейке таблицы открывает соответствующую задачу и, если по ней были посылки, то последнюю посылку по ней
    p
        | Щелчок по имени пользователя выделяет соответствующую строчку. Чтобы сбросить выделение, щелкните по левой верхней ячейке таблицы.
    table.mainTable
        tr
            td.topLeft
                | &nbsp;
            +each contests
                td.border
                td.head(colspan="{{colspan}}")
                    =name
            td.border
            td(rowspan="2")
                | =
            td(rowspan="2")
                | Попыток
        tr
            td
                | &nbsp;
            +each contests
                td.border
                +each problems
                    td.head(title="{{name}}")
                        =this.letter
        +each results
            +tableRow result=this table=../table

