template(name='table')
    h1
        | Сводная таблица
    table.mainTable
        tr
            td
                | &nbsp;
            +each contests
                td
                    &nbsp;
                td(colspan="{{colspan}}")
                    =name
        tr
            td
                | &nbsp;
            +each contests
                td
                    &nbsp;
                +contestHeader
        +each users
            +tableRow table=../table user=this

