template(name='table')
    table.mainTable
        tr
            td.topLeft
                | &nbsp;
            +each levels
                +each contests
                    td.border
                    td.head(colspan="{{colspan}}")
                        =name
                td.border
                td(rowspan="2", title="{{levelTitle}}")
                    | =
            td.border
            td(rowspan="2")
                | =
            td(rowspan="2")
                | Попыток
        tr
            td
                | &nbsp;
            +each levels
                +each contests
                    td.border
                    +each problems
                        td.head(title="{{name}}")
                            =this.letter
                td.border
        +each results
            +tableRow result=this table=../table

