template(name='table')
    h1
        | Сводная таблица
    table.mainTable
        tr
            td
                | &nbsp;
            +each contests
                td.border
                td(colspan="{{colspan}}")
                    =name
            td.border
            td(rowspan="2")
                | =
            td(rowspan="2")
                | Попыток
        tr
            td
                | &nbsp;
            +each contests
                td.border
                +contestHeader
        +each row
            +tableRow row=this table=..

