template(name='home')
    h1 Сводные таблицы
    p.lead Сводные таблицы для курсов П.А. Калинина по алгоритмическому программированию:
        a(href="http://informatics.mccme.ru/course/view.php?id=526") Лицей 40
        | ,
        a(href="http://informatics.mccme.ru/course/view.php?id=807") Нижегородский заочный курс
        
  